{% if dse_opscenter is defined -%}
{%   for stanza in dse_opscenter.keys() %}
[{{ stanza }}]
{%   for key in dse_opscenter[stanza].keys() %}
{{ key }} = {{ dse_opscenter[stanza][key] }}
{%     endfor %}

{%   endfor %}
{% endif %}
